  
{% extends 'base.html' %}

{% block head %}
	<title>Task Master</title>
	<meta charset="UTF-8">
	<title>Review Summarizer Demo App</title>

	
{% endblock %}


{% block body %}
<body style="background: #000;">
	<h1>Review Summarizer</h1>
	<div class="wrapper">
		<div class="reviews">
			<h3>Reviews</h3>



			<textarea name="review" rows="50" cols="50">
		{{ review_text }} 
	</textarea>

			<button action="{{summary}}" method="post" type="submit" class="btn btn-primary btn-block btn-large">Get
				Summary of Reviews</button>
			<br>
			<button action="{{reviews}}" method="post" type="submit"
				class="btn btn-primary btn-block btn-large">Generate New Reviews</button>
			<br>
			<br>

		</div>




		<div class="summary">
			<h3>Generated Summary</h3>
			<textarea name="summaries" rows="20" cols="70">
		{{ summary_text }}
	</textarea>

		</div>
		<div style="clear: both;"> </div>
	</div>


</body>
{% endblock %}